@page
@model ToDoListApp.Pages.CreateModel
@{ ViewData["Title"] = "Create";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Exercise.Title"></label>
        <input asp-for="Exercise.Title" class="form-control" />
        <span asp-validation-for="Exercise.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Exercise.Descriptions"></label>
        <input asp-for="Exercise.Descriptions" class="form-control" />
        <span asp-validation-for="Exercise.Descriptions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
